:root {
    --background: #202c59;
    /* TEXT COLORS */
    --text_color: #e6e2da;
    --link_visited: #f18805;
    --link_click: #a55d04;

    /* FUNCTIONAL COLORS */
    --cancel: #c25132;
    --cancel_hover: #a0452c;
    --cancel_click: #8f3921;
    --primary: #c088ab;
    --primary_hover: #a77594;
    --primary_click: #8a5575;
    --confirm: #009247;
    --confirm_hover: #00793a;
    --confirm_click: #006330;
}

/* STANDARD HTML OVERRIDES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text_color);
    font-family: sans-serif;
    font-size: 16px;
}
main, header {
    margin: 1rem 5rem;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--link_click);
}

a:visited {
    color: var(--link_visited);
}

a:active {
    color: var(--cancel);
}

/* FLEX CSS */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: nowrap;
}

/* NAVBAR CSS */
ul#nav {
    display: block;
    list-style-type: none;
    display: flex;
    line-height: 3.5rem;
}

ul#nav > li {
    display: inline-block;
    text-align: center;
    padding: 0 0.5rem;
    display: flex;
}

ul#nav > li > a {
    
}

/* BUTTON CSS */

.button {
    display: inline-block;
    background-color: transparent;
    border-width: 0;
    color: var(--text_color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    line-height: 1rem;
}

/* a.button:visited, a.button:hover, a.button:active {
    color: var(--text_color);
} */

.button-primary, a.button-primary { 
    color: var(--text_color);
    background-color: var(--primary);
}
  
.button-primary:hover {
    background-color: var(--primary_hover);
}

.button-primary:active {
    background-color: var(--primary_click);
}

.button-confirm, a.button-confirm {
    color: var(--text_color);
    background-color: var(--confirm);
}

.button-confirm:hover {
    background-color: var(--confirm_hover);
}

.button-confirm:active {
    background-color: var(--confirm_click);
}

.button-cancel, a.button-cancel {
    color: var(--text_color);
    background-color: var(--cancel);
}

.button-cancel:hover {
    border-color: var(--cancel_hover);
}

.button-cancel:active {
    border-color: var(--cancel_click);
}